@import "~normalize.css";

html {
  box-sizing: border-box;
  background: repeating-linear-gradient(45deg, rgb(27, 27, 27) 0px, rgb(27, 27, 27) 97px,rgb(24, 24, 24) 97px, rgb(24, 24, 24) 194px,rgb(20, 20, 20) 194px, rgb(20, 20, 20) 291px);

}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: aliceblue;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  color: inherit;
}

button:focus {
  outline: transparent;
}

